name: Dependabot pull additions

on:
  pull_request:
    types: [opened]

jobs:
  add-assignee:
    name: 'add assignee'
    runs-on: ubuntu-18.04

    if: github.actor == 'dependabot[bot]' || github.actor == 'dependabot-preview[bot]'

    steps:
    - name: Add assignee
      uses: actions/github-script@0.4.0
      with:
        github-token: ${{ secrets.GITHUB_TOKEN_REPO_WRITE }}
        script: |
          await github.issues.addAssignees({
            owner: context.repo.owner,
            repo: context.repo.repo,
            issue_number: context.payload.pull_request.number,
            assignees: ['iadvizeponey']
          });

          await github.pulls.createReview({
            owner: context.repo.owner,
            repo: context.repo.repo,
            pull_number: context.payload.pull_request.number,
            event: "APPROVE",
          });

  update-changelog:
    name: 'update changelog'
    runs-on: ubuntu-18.04

    if: github.actor == 'dependabot[bot]' || github.actor == 'dependabot-preview[bot]'

    steps:
    - uses: actions/checkout@v2-beta
      with:
        ref: ${{ github.event.pull_request.head.ref }}
        token: ${{ secrets.GITHUB_TOKEN_REPO_WRITE }}

    - name: Check if package label is present
      id: package-label
      uses: actions/github-script@0.4.0
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
          const { data: pullLabels } = await github.issues.listLabelsOnIssue({
            owner: context.repo.owner,
            repo: context.repo.repo,
            issue_number: context.payload.pull_request.number,
            per_page: 100,
          });

          const labels = pullLabels.map(label => label.name);

          const packageLabels = labels.filter(name => name.includes('packages/'));

          console.log(`::debug ::${packageLabels.length} matching labels`);

          if (packageLabels.length !== 1) {
            throw new Error('Pull request should have only one package label');
          }

          console.log(`::set-output name=label::${packageLabels[0]}`)

    - name: Update changelog
      env:
        PULL_REQUEST_TITLE: ${{ github.event.pull_request.title }}
        PACKAGE: ${{ steps.package-label.outputs.label }}
      run: |
        sed -i "/^## \[Unreleased\]/a\\\n- $PULL_REQUEST_TITLE" $PACKAGE/CHANGELOG.md

    - name: Git config
      run: |
        git config user.name "Github actions"
        git config user.email "github-actions@iadvize.com"

    - name: Push
      env:
        PACKAGE: ${{ steps.package-label.outputs.label }}
      run: |
        git add $PACKAGE/CHANGELOG.md
        git commit -m "documentation: update changelog for dependency bump"
        git push

